<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %} Homepage {% endblock %}</title>

    <style>
      /* Custom style to handle content margin top */
      body {
        padding-top: 80px; /* Adjust this value based on your navbar height */
      }

      @media (max-width: 768px) {
        body {
          padding-top: 60px; /* Adjust this value for smaller screens */
        }
      }
    </style>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="bg-white w-full fixed top-0 shadow-lg">
      <div class="container mx-auto h-20 flex justify-between items-center">
        <!-- Logo -->
        <div class="inline-flex">
          <a class="_o6689fn" href="/">
            <div class="hidden md:block">
              <!-- Teks "ReSus" sebagai logo -->
              <div
                class="font-medium text-blue-700 text-2xl hover:text-gray-700"
              >
                ReSus
              </div>
            </div>
            <div class="block md:hidden">
              <!-- Teks "ReSus" dalam versi mobile -->
              <div
                class="font-medium text-blue-700 text-lg hover:text-gray-700"
              >
                ReSus
              </div>
            </div>
          </a>
        </div>
        <!-- Menu Login -->
        <div class="flex-initial">
          <div class="flex justify-end items-center relative">
            <div class="ml-8 flex items-center">
              <a
                class="inline-block py-2 px-3 text-blue-700 hover:text-gray-700 rounded-full"
                href="#"
              >
                <div
                  class="flex items-center relative cursor-pointer whitespace-nowrap"
                >
                  Sign Up
                </div>
              </a>
              <a
                class="inline-block py-2 px-3 text-blue-700 hover:text-gray-700 rounded-full"
                href="#"
              >
                <div
                  class="flex items-center relative cursor-pointer whitespace-nowrap"
                >
                  Login
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <!-- Content -->
    <div class="mt-20">
      <!-- Margin top to push content below navbar -->
      {% block template %}{% endblock %}
    </div>

    <!-- Footer -->
    <footer class="bg-white dark:bg-gray-900">
      <div class="container px-6 py-8 mx-auto">
        <hr class="border-blue-800 border-solid border-2 my-1" />
        <div class="flex flex-col items-center sm:flex-row sm:justify-between">
          <p class="text-sm text-blue-700">
            © Copyright 2024 ReSus | Privacy Police
          </p>
          <div class="flex mt-3 -mx-2 sm:mt-0">
            <a
              href="#"
              class="mx-2 text-sm text-blue-700 transition-colors duration-300 hover:text-blue-700 dark:hover:text-gray-300"
              aria-label="About Us"
            >
              About Us
            </a>
            <a
              href="#"
              class="mx-2 text-sm text-blue-700 transition-colors duration-300 hover:text-blue-700 dark:hover:text-gray-300"
              aria-label="Contact Us"
            >
              Contact Us
            </a>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
